html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
 
  *,
  *::before,
  *::after {
    box-sizing: inherit; 
  }
  
  body {
    font-family: 'Arial', sans-serif; 
    background-color: #f8f9fa; 
    font-family: "Edu VIC WA NT Beginner";
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
    }
    
  